language: android

env:
  matrix:
    - ANDROID_TARGET=android-21  ANDROID_ABI=armeabi-v7a

jdk:
 - oraclejdk7

before_install:
 - chmod +x gradlew

# Emulator Management: Create, Start and Wait
before_script:
  # Create and start emulator
  - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
  - adb wait-for-device
  - adb shell input keyevent 82 &

android:
  components:
    - build-tools-22.0.1
    - android-22
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-21

script: ./gradlew clean createDebugCoverageReport coveralls

notifications:
  email: true

sudo: false